@import url('https://fonts.googleapis.com/css?family=Marvel:400,700');
.text-center-abt{
    text-align: center;
}

.text-center-abt h2{
    color: #ef1923;
}

.text-center-abt{
    margin-bottom: 3rem !important;
    border-radius: 2px;
    margin: auto;
}

.card{
    display: inline-block;
    /* width: 45%; */
    padding: 2rem 1rem 2rem 1rem;
    background-color: snow;
    position: relative;
    /* border: none; */
}
.card:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    border-bottom: 10px solid #ef1923;
    border-left: 10px solid #ef1923;
    border-right: 10px solid #ef1923;
    border-top: 10px solid #ef1923;
    position: absolute;
    filter: drop-shadow(-3px 3px 5px rgba(0,0,0,0.5));
}
.card:before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 20px solid #ef1923;
    border-right: 20px solid #ef1923;
    border-left: 20px solid #ef1923;
    border-bottom: 20px solid #ef1923;
    bottom: 0px;
    left: 0px;
    position: absolute;
    filter: drop-shadow(3px -3px 5px rgba(0,0,0,0.5));
    margin-right: 10%;
}
.card:nth-of-type(1){
    margin-right: 9%;  
    margin-left: 9%;
}

.card>h2{
    color: #ef1923;
    font-weight: 900 !important;
    margin-bottom: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card>p{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    line-height: 140%;
}