.text-center-abt{
    text-align: center;
}

.text-center-abt h2{
    color: #ef1923;
}

.text-center-abt{
    border-style:groove;
    border-left-color: #ff0000;
    border-top-color: #ff0000;
    border-width: 0.25em;
    border-left-width: 0.3em;
    border-left-width: 0.3em;
    margin-bottom: 1em !important;
    border-radius: 2px;
    margin: auto;
}